# Основы программирования в Python 

### Контрольная работа (вариант 2)
### Практическая часть

*Максимальное количество баллов за практическую часть: 15*

### Задача 1 (3 балла)

Дан лист строк `numbers`:

In [1]:
numbers = ['67', '34', '5', '15', '24']

Известно, что каждый элемент списка может быть явно конвертирован в число. Используя
списковые включения (*list comprehensions*) как минимум 1 раз, создайте новую переменную, которая будет
содержать только нечетные элементы списка `numbers`.

**Пример кода:**

In [1]:
numbers = ['67', '34', '5', '15', '24']
# some code here
# new_numbers is [34, 24]

### Задача 2 (3 балла)

Реализуйте функцию `ind_all`, которая принимает на вход список `arr` и заданный элемент,
а при вызове возвращает список, состоящий из индексов всех элементов, равных заданному. 

**Пример
работы:**

    arr = [10, 30, 20, 50, 60, 20, 20]
    ind_all(arr, 20)
    [2, 5, 6]

### Задача 3 (9 баллов)

Дана строка `st`. Формат строки – целые числа, отделяемые друг от друга запятыми.

In [2]:
st = '170,98,90,231' # количество элементов неизвестно

С помощью одного спискового включения, получите список логических (*boolean*) значений. Элемент равен `True`, если новое число, образованное цифрами в обратном порядке от соответствующего числа (пример: `78 -> 87`, `231 -> 132`) не меньше 89. В противном случае элемент
равен `False`.


Например, возьмем первое число в строке `st`, число 170. Его цифры в обратном порядке дадут число 71. Число 71 меньше 89. Следовательно, первый элемент нового листа будет равен `False`. Возьмем второе число в строке st, число 98. Его цифры в обратном порядке дадут число 89. Число 89 не меньше 89 (а равно). Следовательно, второй элемент нового листа будет равен `True`.